/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    background: #1e1a20;
}

/* WebGL Canvas Styling */
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

/* Container to adjust the canvas */
.canvas-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    height: 8%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(30, 26, 32, 0.8);
    /* Semi-transparent background */
    border-bottom: 4px solid rgba(37, 88, 190, 0.8);
    /* Semi-transparent Villanova Blue border */
    padding: 3px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Adds subtle shadow */
    backdrop-filter: blur(10px);
    /* Adds blur for a frosted glass effect (optional) */
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 80px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #9dff00;
    /* Color on hover */
}

/* Adjust body content to not get hidden under the navbar */
body {
    padding-top: 60px;
    font-family: sans-serif;
    color: #ffeded;
}

/* Room heading text */
.room-heading {
    text-align: center;
    margin-top: 100px;
    font-size: 3em;
    color: #ffeded;
}

/* Home button Styling */
.home-button {
    position: absolute;
    top: 80px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    z-index: 10;
}

.home-button:hover {
    background-color: #0056b3;
}

/* Button Styling */
.button-62 {
    background: linear-gradient(to bottom right, #3e74d2, #71fffa);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    /* */
    outline: transparent;
    padding: 0 1rem;
    /* */
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}